@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #1A0B2E;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    margin-top: 5px;
}
#wave{
    background-image: linear-gradient(#9100F8,#FB09B4, #F7E93F);
    color: transparent;
    background-clip: text;
}
nav>div{
    display: flex;
    list-style: none;
    gap: 1.25rem;
}
nav>button{
    padding: 10px 12px;
    background-image: linear-gradient(#9100F8,#FB09B4, #F7E93F);
    color: white;
    border-radius: 2rem;
    border: none;
}
nav>button>i{
    background-color: transparent;
}
