@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #1A0B2E;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    margin-top: 1.1rem;

}

.wave {
    background-image: linear-gradient(#9100F8, #FB09B4, #F7E93F);
    color: transparent;
    background-clip: text;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 1.15rem;
}

nav>button {
    padding: 10px 12px;
    background-image: linear-gradient(#9100F8, #FB09B4, #F7E93F);
    color: white;
    border-radius: 2rem;
    border: none;
}

nav>button>i {
    background-color: transparent;
}

.banner-section {
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    height: 89dvh;
    padding-bottom: 1rem;
}

.img-container {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68dvh;
    position: relative;
}

.hero-circle {
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.microphone {
    background-color: transparent;
    position: absolute;
    z-index: 2;
    left: 39rem;
    top: 7.5rem;
}

#new {
    padding: 0.4rem 1.2rem;
    border-radius: 1.5rem;
    background-color: green;
    color: white;
    position: absolute;
    z-index: 3;
    top: 3.8rem;
    left: 49rem;
}

.banner-2nd {
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
}

#LOS-btn {
    padding: 10px 12px;
    background-image: linear-gradient(#9100F8, #FB09B4, #F7E93F);
    color: white;
    border-radius: 2rem;
    border: none;
}

#subs-btn {
    padding: 10px 12px;
    background-color: transparent;
    color: green;
    border-radius: 2rem;
    border: 0.1rem solid green;
}

.fa-btn {
    background-color: transparent;
    padding: 0rem 0.2rem;
}

.About {
    height: 45dvh;
    text-align: center;
    margin: rem;
    color: #FFFFFF;
    padding-top: 2rem;
}

#about-title {
    margin: 1.2rem;
}

hr {
    width: 80%;
    font: 0.15 solid rgba(129, 112, 112, 0.404);
    margin-left: 8.5rem;
}

.About2 {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    color: #00FF88;
    font-weight: 900;
    align-items: center;
}

.About2description {
    color: #FFFFFF;
}

.fa-icon {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

.Why-Choose-TechWave {
    background-color: #35116566;
    height: 100vh;
    width: auto;
}

.headline {
    color: white;
    text-align: center;
    margin: 2.5rem 0;
}

.podcast-container {
    display: flex;
    justify-content: space-evenly;
    height: 65vh;

}

.card {
    box-shadow: 0.3rem 0.7rem 0.7rem 0.3rem #9100F8;
    transition: 0.5s;
    width: 25%;
    background-color: #35116566;
    border-radius: 2rem 2rem 0 0;
}

.yt-video {
    width: 100%;
    height: 60%;
    border-radius: 2rem 2rem 0 0;
    border: none;
}

.card:hover {
    box-shadow: 0.3rem 0.7rem 0.7rem 0.3rem #35116566;
}

.pod-title {
    padding: 0.4rem 0.6rem;
    background-color: transparent;
}

.container {
    background-color: transparent;
    color: #FFFFFF;
}

.time {
    padding: 0.4rem 0.4rem;
    color: #00FF88;
    background-color: #ffffff00;
}

.host-cotainer {
    display: flex;
    height: 46dvh;
    width: 80dvw;
    background-color: #35116566;
    margin: 0 auto;
    border-radius: 2rem;
}

.host {
    display: flex;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    gap: 1rem;
}

.host-img {
    background-color: transparent;
    border-radius: 6rem;
    margin-left: 1rem;
}

#host-name {
    background-color: transparent;
    margin: 1.5rem 0;
    color: #FFFFFF;
}

.host-details {
    background-color: transparent;
    word-wrap: break-word;
    padding-bottom: 1rem;
    color: #FFFFFF;
}

.social-icon {
    background-color: transparent;
    font-size: 2rem;
    background-image: linear-gradient(#9100F8, #FB09B4, #F7E93F);
    color: transparent;
    background-clip: text;
}

footer>h1 {
    font-size: 4rem;
    color: #FFFFFF;
    background-color: transparent;
    padding: 1rem;
}

footer {
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    height: 30dvh;
    text-align: center;
    margin-top: 0.7rem;
    background-position: center;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
    background-color: transparent;
}

.footer-fa {
    color: #FFFFFF;
    background-color: transparent;
}

footer>ul>li {
    color: #FFFFFF;
    background-color: transparent;
}

footer>p {
    color: #FFFFFF;
    background-color: transparent;
    padding: 1rem;
}