@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #1A0B2E;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    margin-top: 1.1rem;
    
}
#wave {
    background-image: linear-gradient(#9100F8, #FB09B4, #F7E93F);
    color: transparent;
    background-clip: text;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 1.15rem;
}

nav>button {
    padding: 10px 12px;
    background-image: linear-gradient(#9100F8, #FB09B4, #F7E93F);
    color: white;
    border-radius: 2rem;
    border: none;
}

nav>button>i {
    background-color: transparent;
}

.banner-section {
    background-image: url(../assets/hero-bg.png);
    background-color: transparent;
    background-size: cover;
    height: 89dvh;
    padding-bottom: 1rem;
}

.img-container {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68dvh;
    position: relative;
}

.hero-circle {
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.microphone {
    background-color: transparent;
    position: absolute;
    z-index: 2;
    left: 39rem;
    top: 7.5rem;
}
#new {
    padding: 0.4rem 1.2rem;
    border-radius: 1.5rem;
    background-color: green;
    color: white;
    position: absolute;
    z-index: 3;
    top: 3.8rem;
    left: 49rem;
}
.banner-2nd{
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
}
#LOS-btn{
    padding: 10px 12px;
    background-image: linear-gradient(#9100F8, #FB09B4, #F7E93F);
    color: white;
    border-radius: 2rem;
    border: none;
}
#subs-btn{
    padding: 10px 12px;
    background-color: transparent;
    color: green;
    border-radius: 2rem;
    border: 0.1rem solid green;
}
.fa-btn{
    background-color: transparent;
    padding: 0rem 0.2rem;
}
.About{
    text-align: center;
    margin: 2rem;
    color: #FFFFFF;
}
hr{
    width: 80%;
    font: 0.25 solid black;
    margin-left: 8.5rem;
}
.About2{
    display: flex;
    justify-content: space-around;
    padding: 2rem 0rem;
    color: #00FF88;
    font-weight: 900;
    margin: 2rem 0;
}
.About2description{
    color: #FFFFFF;
}
.fa-icon{
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}
.Why-Choose-TechWave{
    background-color: #35116566;
    height: 100vh;
    width: auto;
}
#Featured-title{
    color: white;
    text-align: center;
    margin: 1.5rem;
}
.podcast-container{
    display: flex;
    justify-content: space-evenly;
    height: 65vh;
    padding: 2rem;
}
.card {
  box-shadow: 0.3rem 0.7rem 0.7rem 0.3rem #00FF88;
  transition: 0.3s;
  width: 25%;
  background-color: #35116566;
  border-radius: 2rem 2rem 0 0;
}
.yt-video{
    width: 100%;
    height: 60%;
    border-radius: 2rem 2rem 0 0;
}
.card:hover {
  box-shadow: 0.3rem 0.7rem 0.7rem 0.3rem #9100F8;
}
.pod-title{
    padding: 0.4rem 0.6rem;
    background-color: transparent;
}
.container{
    background-color:transparent;
    color: #FFFFFF;
}
.time{
    padding: 0.4rem 0.4rem;
    color: #00FF88;
    background-color: #ffffff00;
}

